[buildout]
extensions = 
plone-series = 4.3
extends =
    http://dist.plone.org/release/4.3.2/versions.cfg
    hosts.cfg
    versions.cfg
    zeo-clients.cfg
    zeo-server.cfg
    backup.cfg

versions = versions
allow-picked-versions = false


[instance]
# For more information on this step and configuration options see:
# http://pypi.python.org/pypi/plone.recipe.zope2instance
recipe = plone.recipe.zope2instance
user = admin:${projects:id}
http-address = ${ports:instance}
zeoclient-path = $${:client-path}
#debug-mode = on
#verbose-security = on
#http://plone.org/documentation/kb/how-to-speed-up-plone-startup-by-disabling-unused-languages
environment-vars =
    PTS_LANGUAGES en fr nl de
    zope_i18n_allowed_languages en fr nl de
    zope_i18n_compile_mo_files true

# If you want Zope to know about any additional eggs, list them here.
# This should include any development eggs you listed in develop-eggs above,
# e.g. eggs = Plone my.package
eggs =
    Plone
    Pillow
    Products.LinguaPlone
    collective.ckeditor
    ${projects:eggs}

# If you want to register ZCML slugs for any packages, list them here.
# e.g. zcml = my.package my.other.package
zcml =
    collective.ckeditor
    ${projects:zcml}

[zopepy] 
recipe = zc.recipe.egg 
eggs = ${instance:eggs} 
interpreter = zopepy 
scripts = zopepy 

[download]
recipe = hexagonit.recipe.download
url = https://launchpad.net/plone/${buildout:plone-series}/${versions:Plone}/+download/Plone-${versions:Plone}-UnifiedInstaller.tgz

[install]
recipe = collective.recipe.cmd
on_install = true
cmds = tar jxvf ${download:location}/Plone-${versions:Plone}-UnifiedInstaller/packages/buildout-cache.tar.bz2 1>/dev/null

[omelette] 
recipe = collective.recipe.omelette 
eggs = ${instance:eggs} 
packages = 
 
[projects]
