[buildout]
allow-hosts =
    *buildout.org*
    *willowrise.org
    *plone.org*
    launchpad.net
    *ipython.scipy.org
#    *zope.org
    *python.org
    *initd.org
    *repoze.org
    *googlecode.com
    *effbot.org
    code.google.com
    *prdownloads.sourceforge.net*
    *github.com*
    *repo.irisnet.be*
    *eggproxy.irisnet.be*
    *python-ldap.org*
    *starship.python.net*
    *cx-oracle.sourceforge.net*
    *xmlsoft.org*
    *localhost*
    *codespeak.net*
    *lxml.de*


find-links +=
#    http://packages.willowrise.org
#    http://dist.plone.org/release/4.1/
#    http://download.zope.org/distribution/
#    http://effbot.org/downloads
    http://code.google.com/p/gdata-python-client/downloads/list
    http://repo.irisnet.be/eggs/

index=http://eggproxy.irisnet.be
